@page "/chatbot"
@using MyBlazorShop.Libraries.Shared.Chat.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navigationManager
@implements IAsyncDisposable
<HeadContent>
    <link href="/css/bigstarcollectables.help.css" rel="stylesheet" />
</HeadContent>
<section id="help">
    <h1>Help</h1>
    <p>If you have any questions, please add them to our live chat</p>
    @if (Messages?.Any() ?? false)
    {
        <ul>
            @foreach (var message in Messages)
            {
                <li class="@message.ClassName">@message.Message</li>
            }
        </ul>
    }
    <EditForm Model="@this">
        <InputText @bind-Value="Message" />
        <button class="button lg solid gold" type="submit">Send message</button>
    </EditForm>
</section>

@code {
    private string? Message { get; set; }

    private List<LiveChatMessage>? Messages { get; set; }

    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        Messages = new List<LiveChatMessage>();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("https://localhost:9002/live-chat"))
            .Build();

        hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            Messages.Add(new LiveChatMessage(message, LiveChatTypeEnum.RECEIVED));
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await base.OnInitializedAsync();
    }

    // private async Task SendMessage()
    // {
    //     if (!string.IsNullOrWhiteSpace(Message))
    //     {
    //         Messages.Add(new LiveChatMessage(Message, LiveChatTypeEnum.SENT));
    //         await hubConnection.SendAsync("SendMessage", Message);
    //         Message = string.Empty;
    //     }
    // }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
